---
layout: default
---

<div class="home">
<br>
<h2> Quick recap </h2>

I currently do research in numerical analysis with a focus on finite element method and meshless methods for solving partial differential equations. I study at <a href="https://www.fmf.uni-lj.si/sl/">University of Ljubljana, Faculty of Mathematics and Physics</a>.
<br><br>
My current position is a student researcher at <a href="https://e6.ijs.si/ParallelAndDistributedSystems/">Scientific Computing Laboratory</a>, Department E6, Jožef Stefan Institute.

<br>
<br>
<h2> My timeline </h2>

<ul>

<li> Student researcher at Parallel and Distribute systems Laboratory, Department E6, Jožef Stefan Institute (2023-2026)</li>


<li> Student researcher at Scientific Computing Laboratory, Department E6, Jožef Stefan Institute (2026-)</li>

</ul>
<br>
<h2> My education </h2>

<ol>
<li> Highschool Jožeta Plečnika Ljubljana (2020-2024) - "Splošna Matura" diploma</li>
<li> Faculty of Mathematics and Physics, University of Ljubljana - Bachelors in Mathematics (2024-)</li>
</ol>
</div>
