---
layout: default
---

<div class="home">

  Hi, you've reached Žiga's personal website. You may find some useful information about me and my research.
  <br>

  <h2>Who am I?</h2>
 I am from Slovenia and I enjoy (mostly) math and coding. I'm currently pursuing a bachelors degree in Mathematics on faculty of Mathematics and Physics in Ljubljana. 
 <br>
 My main research interest lies in the discrete well-posedness of partial differential equations (PDEs) and stability of time dependent problems.
 In particular I do research on meshless methods (RBF-FD) and finite element method (FEM) for solving PDEs. 
<br>
 I also like climbing and road cycling in the summer and ski in the winter.
  <br>
  <h2> Your first time here? </h2>
  Well, that doesn't quite surprise me, who scrolls through personal websites for fun? Nevertheless, here are some useful places on my website:

  <ul class="li-org">
    <li> <b> Research papers </b> <br> A list of my research papers, which mainly consists of research of RBF based methods for interpolation and numerically solving PDEs, is located on the Research tab  </li>
    <li> <b> Research talks </b> <br> A list of my recent and future talks (mainly on conferences) alongside presentations is also located in the Research tab. </li>
  </ul>
 

</div>
