---
layout: default
---

<div class="home">

  This is my personal page, where you may find some information about me and my research. It is structured via two nav elements, namely, the about page and research page. My recent talks and research papers are posted on the research page.
  <br>
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 style="padding-top: 3%;"class="">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
